* //css reset
{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	box-sizing: inherit;

}

body {
	background-color:White;
	padding-top:150px;
	padding:0px;
	margin:0px;
	border:0px;
}

p{
	margin-left:10%; 
	margin-right:10%; 
	color:Black;
	font-family:Friz;
}

div{

	font-family:Friz;
}

h1,h2 {
	margin-left:10%; 
	margin-right:10%;
	color:white;
	font-family:Friz;
	background-color:Black;
}

footer{
	margin:auto;
	width:50%;
}

blink, .blink {
	color:white;
	-webkit-animation: blink 1s step-end infinite;
	-moz-animation: blink 1s step-end infinite;
	-o-animation: blink 1s step-end infinite;
	animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink { 67% { opacity: 0 }}
@-moz-keyframes blink {  67% { opacity: 0 }}
@-o-keyframes blink {  67% { opacity: 0 }}
@keyframes blink {  67% { opacity: 0 }}

#downloadDis{

	background-size:100%;
	height:135px;
	width:150px;
	zoom: 0.5;
	-o-transform:scale:(0.5);

	display:inline;
	border:15px;
	border-radius:400px;
}

.thumbnail{
	z-index:0;
	vertical-align:middle;
	display:block;
	width:300px;
	height:300px;
	border-radius:25px;
}

.CenteredText{
	position: absolute;
	font-size:large;
	transform: translate(10%, -850%);
}

#ThumbTransition{
	color:rgba(0,0,0,0);
}

#ThumbTransition img{
	opacity: 1;
	transition: opacity 0.3s;
}

#ThumbTransition div{
	opacity: 0;
	transition: opacity 0.2s;
}

#ThumbTransition:hover{
	color:white;
}

#ThumbTransition:hover img{
	opacity: 0.2;
}

#ThumbTransition:hover div{
	opacity: 1;
}

.grid-container{
	margin-left:20%;
	margin-right:20%;
	justify-items:center;
	align-items:center;
	display:grid;
	grid-template-columns: auto auto auto;
	grid-row-gap:50px;
	grid-column-gap:50px;
	z-index:0;
}

.grid-item{
	display:inline-block; /* displayed as inline elements */
	position: absolute;
}
	.grid-item:hover{
		position: absolute;
	}

.SocialCard{
	display:inline-block;
	height:71px;
	width:99px;
	margin:auto;
	vertical-align:bottom;
	background:transparent url(images/ui/social-cards-4db02a8933351b0870f1dc00fa58df807b83f09d96f145c4579d78fc01b2b079dd6c1fa4fcee4834eae4651e0b361fde995e1429c07585fdacb46c06c5f44a6a.png) 0 0 no-repeat;
	transition:none;
	margin:0 -20px
}@media (min-width:40em){
	.SocialCard{
			margin:0 -15px
	}
}
	.SocialCard--facebook{
		background-position:0 0
	}
		.SocialCard--facebook:active,
		.SocialCard--facebook:hover{
			background-position:0 -77px
		}
			
	.SocialCard--twitter{
		background-position:-99px 0
	}
		.SocialCard--twitter:active,
		.SocialCard--twitter:hover{
			background-position:-99px -77px
		}
		
	.SocialCard--linkedin{
		background-position:-198px 0
	}
		.SocialCard--linkedin:active,
		.SocialCard--linkedin:hover{
			background-position:-198px -77px
		}

		
	.SocialCard--instagram{
		background-position:-297px 0
	}
		.SocialCard--instagram:active,
		.SocialCard--instagram:hover{
			background-position:-297px -77px
		}
		
	.SocialCard--tumblr{
	background-position:-396px 0
	}
		.SocialCard--tumblr:active,
		.SocialCard--tumblr:hover{
			background-position:-396px -77px
		}
		
	.SocialCard--github{
	background-position:-495px 0
	}
		.SocialCard--github:active,
		.SocialCard--github:hover{
			background-position:-495px -77px
		}