* //css reset
{
	margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	box-sizing: inherit;
}

@font-face{
	font-family:Consolas;
	src:url(../fonts/CONSOLA.ttf);
}

@font-face{
	font-family:Friz;
	src:url(../fonts/Friz_Quadrata_Std_Regular.otf);
}

body {
	margin: 0 !important;
    padding: 0 !important;
	background-color:#353535;
	border:0px;
}

p{
	margin-left:10%; 
	margin-right:10%; 
	color:white;
	font-family:Friz;
}

div{
}

h1{
	margin-top: 0px;
	color:white;
	font-family:Consolas;
	background-color:#282828;
	width:100%;
	text-align:center;
}

h2 {
	margin-top: 0px;
	color:white;
	font-family:Consolas;
	font-size:50%;
	background-color:#282828;
	width:100%;
	text-align:center;
}

footer{
	margin:auto;
	width:50%;
}

blink, .blink {
	color:white;
	-webkit-animation: blink 1s step-end infinite;
	-moz-animation: blink 1s step-end infinite;
	-o-animation: blink 1s step-end infinite;
	animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink { 67% { opacity: 0 }}
@-moz-keyframes blink {  67% { opacity: 0 }}
@-o-keyframes blink {  67% { opacity: 0 }}
@keyframes blink {  67% { opacity: 0 }}

#downloadDis{

	background-size:100%;
	height:135px;
	width:150px;
	zoom: 0.5;
	-o-transform:scale:(0.5);

	display:inline;
	border:15px;
	border-radius:400px;
}

.thumbnail{
	z-index:0;
	vertical-align:middle;
	display:block;
	width:300px;
	height:300px;
	border-radius:25px;
}

.CenteredText{
	position: absolute;
	font-size:large;
	transform: translate(10%, -850%);
}

#ThumbTransition{
	color:rgba(0,0,0,0);
}

#ThumbTransition img{
	opacity: 1;
	transition: opacity 0.3s;
}

#ThumbTransition div{
	opacity: 0;
	transition: opacity 0.2s;
}

#ThumbTransition:hover{
	color:white;
}

#ThumbTransition:hover img{
	opacity: 0.2;
}

#ThumbTransition:hover div{
	opacity: 1;
}

.grid-container{
	margin-left:20%;
	margin-right:20%;
	justify-items:center;
	align-items:center;
	display:grid;
	grid-template-columns: auto auto auto;
	grid-row-gap:50px;
	grid-column-gap:50px;
	z-index:0;
}

.grid-item{
	display:inline-block; /* displayed as inline elements */

}
	.grid-item:hover{
		
	}

.SocialCards{
	vertical-align:middle;
	width:434px;
	margin:auto;
}

	.SocialCard--facebook{
		background-position:0 0
	}
		.SocialCard--facebook:active,
		.SocialCard--facebook:hover{
			background-position:0 -77px
		}
			
	.SocialCard--twitter{
		background-position:-99px 0
	}
		.SocialCard--twitter:active,
		.SocialCard--twitter:hover{
			background-position:-99px -77px
		}
		
	.SocialCard--linkedin{
		background-position:-198px 0
	}
		.SocialCard--linkedin:active,
		.SocialCard--linkedin:hover{
			background-position:-198px -77px
		}

		
	.SocialCard--instagram{
		background-position:-297px 0
	}
		.SocialCard--instagram:active,
		.SocialCard--instagram:hover{
			background-position:-297px -77px
		}
		
	.SocialCard--tumblr{
	background-position:-396px 0
	}
		.SocialCard--tumblr:active,
		.SocialCard--tumblr:hover{
			background-position:-396px -77px
		}
		
	.SocialCard--github{
	background-position:-495px 0
	}
		.SocialCard--github:active,
		.SocialCard--github:hover{
			background-position:-495px -77px
		}