* //css reset
{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	box-sizing: inherit;
}

body{
	display:inherit;
	margin:0px;
}

@font-face{
	font-family:Consolas;
	src:url(../fonts/CONSOLA.ttf);
}

@font-face{
	font-family:Friz;
	src:url(../fonts/Friz_Quadrata_Std_Regular.otf);
}

nav{
	position: fixed;		
	display:inline-block;
	width:100%;
	height:auto;
	background:#282828C0;
	background-size:100%;
	white-space:nowrap;
	overflow:visible;
	z-index:10;
}

	nav .navlist{
		display:inline-block;
		font-size:22px;
		color:#FFFDD0;
		text-decoration:none;
		padding-left:10px;
		padding-right:10px;
		font-family:Consolas;
	}
	
		nav .NavButtonLeft{
			width:auto;
			border-style:solid;
			border-width: 0px 5px 0px 5px;
		}
		
		nav .NavButton{
			width:auto;
			border-style:solid;
			border-width: 0px 5px 0px 0px;
		}
		
		nav .NavButton:hover {
		}
			
#MainName{
	color:#FFFDD0;
	font-size:28px;
	vertical-align:left;
	text-align:center;
}


#upperbuffer{
	padding-top:210px;
}

	
