* //css reset
{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	box-sizing: inherit;

}
			
.mySlides{
	margin:auto;
	width:50%;
	height:auto;
}

.w3-animate-left{
	position:relative;
	animation:animateleft 0.4s
}
@keyframes animateleft{
	from{
		left:-300px;
		opacity:0
	} to{
		left:0;
		opacity:1
	}
}	

.w3-animate-fading{
	animation:fading 7s infinite
}
@keyframes fading{
	0%{
		opacity:0
	}25%{
		opacity:1
	}75%{
		opacity:1
	}100%{
		opacity:0
	}
}
	
.w3-display-container{
	position:relative;
}
	
.w3-display-container:hover {
	display:block;
}

.w3-display-container:hover span

.w3-button{
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;

	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

	.w3-button:disabled{
		cursor:not-allowed;
		opacity:0.3
	}

	.w3-button:hover{
		color:#000!important;
		background-color:#ccc!important;
	}

.w3-display-left{
	position:absolute;
	top:50%;
	left:0%;
	transform:translate(0%,-50%);
	//-ms-transform:translate(-0%,-50%);
}

.w3-display-right{
	position:absolute;
	top:50%;
	right:0%;
	transform:translate(0%,-50%);
	//-ms-transform:translate(0%,-50%);
}