@font-face{
font-family:dpcomic;
src:url(fonts/dpcomic.ttf);
}

@font-face{
font-family:joystix;
src:url(fonts/joystix_monospace.ttf);
}

body {
	background-color:Black;
	padding:0px;
	margin:0px;
	border:0px;
}

html {
	padding:0px;
	margin:0px;
	border:0px;
}

p{
	color:white;
	
	font-family:joystix;
}

div{

}

h1,h2 {
	color:white;
	
	font-family:joystix;
	background-color:Black;
}

footer{
	margin:auto;
	width:50%;
}

#Togglebutton{

	width:100%;
	height:130px;
	background-color:#FC8120;
	white-space:nowrap;
	z-index: 10;
		
	font-size:28px;
	color:#7B23A7;
	font-family:joystix;
	border-style:outset;
	border-color:buttonface;
		
	background-color: #4FAAEC;

	text-decoration: none;
}
	#Togglebutton:hover{
		background-color: #C8CFEA;
	}

#tempContent{
	background-color:Black;
}

#upperbuffer{
	padding-top:140px;
}

.quotation{
	background-color:#0000FF;
}

* //css reset
{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	box-sizing: inherit;
}

nav{

	position: fixed;		
	display:inline-block;
	top: 0;
	padding:1px;
	width:100%;
	height:130px;
	background-color:#FC8120;
	white-space:nowrap;
	z-index: 999;
}
	nav .navlist{

		float:left;
		
		font-size:28px;
		color:#7B23A7;
		font-family:joystix;
		border-style:outset;
		border-color:buttonface;
		border-width:1px;
		
		background-color: #4FAAEC;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	
		text-decoration: none;
	}
	
		nav .navlist:hover{
			background-color: #C8CFEA;
		}
		
		nav  .dropdown-content {
			display: none;
			position: absolute;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		}

			nav .dropdown-content a {
				padding: 12px 16px;
				display: inline-block;
				
				font-size:28px;
				color:#7B23A7;
				font-family:joystix;
				border-style:outset;
				border-color:buttonface;
				border-width:1px;
				background-color: #4FAAEC;
				
				float:left;
			}

			nav .dropdown-content a:hover {
				
				background-color: #C8CFEA;
			}
			
		nav .dropdown {
			position: relative;
			display: inline-block;
					
			font-size:28px;
			color:#7B23A7;
			font-family:joystix;
			border-style:outset;
			border-color:buttonface;
			border-width:1px;
			background-color: #4FAAEC;
			padding-top: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
			}
		
			nav .dropdown:hover .dropdown-content {
				display: block;
			}
				
			nav .dropdown:hover{
				background-color: #C8CFEA;
			}
			nav .dropdown .dropbtn{
			color:#7B23A7;
			}

#MainName{
	color:#7B23A7;
	font-family:dpcomic;
	font-size:250%;
						
	padding-top:20px;
	padding-right: 40px;
	padding-bottom:20px;
	margin-right: 10px;
	margin-top: -20px;
}
			
.mySlides{
	width:100%;
	height:auto;
}

.w3-animate-left{
	position:relative;
	animation:animateleft 0.4s
}
@keyframes animateleft{
	from{left:-300px;
	opacity:0
	} to{
		left:0;
		opacity:1
	}
	}	

.w3-animate-fading{
	animation:fading 7s infinite
	}@keyframes fading{
		0%{
			opacity:0
		}25%{
			opacity:1
		}75%{
			opacity:1
		}100%{
			opacity:0
		}
	}
	
.w3-content{

	}
	
.w3-display-container{
	position:relative;
	}
	
.w3-display-container:hover {
	display:block;
	}
.w3-display-container:hover span

.w3-button{
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}
.w3-button{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
} 

.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-button:disabled{
	cursor:not-allowed;
	opacity:0.3
}

.w3-button:hover{
	color:#000!important;
	background-color:#ccc!important;
	}

.w3-display-left{
	position:absolute;
	top:50%;
	left:0%;
	transform:translate(0%,-50%);
	//-ms-transform:translate(-0%,-50%);
}

.w3-display-right{
	position:absolute;
	top:50%;
	right:0%;
	transform:translate(0%,-50%);
	//-ms-transform:translate(0%,-50%);
}
	
.show {
    display: block;
}

.SocialCards{
	text-align:center
	}
	
.SocialCard{
	display:inline-block;
	height:71px;
	width:99px;
	margin:auto;
	vertical-align:bottom;
	background:transparent url(images/ui/social-cards-4db02a8933351b0870f1dc00fa58df807b83f09d96f145c4579d78fc01b2b079dd6c1fa4fcee4834eae4651e0b361fde995e1429c07585fdacb46c06c5f44a6a.png) 0 0 no-repeat;
	transition:none;
	margin:0 -20px
	}@media (min-width:40em)
	{
		.SocialCard{
			margin:0 -15px
			}
	}
	.SocialCard--facebook{
		background-position:0 0
	}
		.SocialCard--facebook:active,
		.SocialCard--facebook:hover{
			background-position:0 -77px
			}
			
	.SocialCard--twitter{
		background-position:-99px 0
	}
		.SocialCard--twitter:active,
		.SocialCard--twitter:hover{
			background-position:-99px -77px
		}
		
	.SocialCard--youtube{
		background-position:-198px 0
	}
		.SocialCard--youtube:active,
		.SocialCard--youtube:hover{
			background-position:-198px -77px
		}
		
	.SocialCard--linkedin{
		background-position:-297px 0
	}
		.SocialCard--linkedin:active,
		.SocialCard--linkedin:hover{
			background-position:-297px -77px
		}

		
	.SocialCard--instagram{
		background-position:-396px 0
	}
		.SocialCard--instagram:active,
		.SocialCard--instagram:hover{
			background-position:-396px -77px
		}
			
.resultslist{
	margin:5px;
	border:10px solid #888;
	font-size:50%;
}

.resultslist .title{
	font-weight:bold;
}

#wrapperbio { 
	width: 370px; 
	height: 640px;  
	padding-left:30%; 
	padding-right:30%; 
	overflow: hidden; 
}
#wrapperwhack { 
}

#scaled-framebio { 
	width: 740px; 
	height: 1280px; 
	border: 0px; 
}

#scaled-framebio {
	zoom: 0.5;
	-moz-transform: scale(0.5);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.5);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.5);
	-webkit-transform-origin: 0 0;
}

#AboutDiv{
	padding-left:30px;	
}

#JackImage{
	zoom: 0.5;
	-o-transform:scale:(0.5);

	display:block;
	border:5px;
	border-radius:500px;
	margin-right:10%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#scaled-framebio  { 
		zoom: 1; 
	}
}
