body {
	background-color:#cc3aff;
	padding:50px;
}

html {
	padding:0px;
	margin:0px;
}

div{
	font-size:150%;
}

h1,h2 {
	background-color:Teal;
}


#tempContent{
	background-color:Magenta;
}

.quotation{
	background-color:#0000FF;
}

*
{
	//background-color:green;
}

header nav li{
	display:inline;
}

.resultslist{
	margin:5px;
	border:10px solid #888;
	font-size:50%;
}

.resultslist .title{
	font-weight:bold;
}