* //css reset
{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	box-sizing: inherit;
}

@font-face{
	font-family:dpcomic;
	src:url(fonts/dpcomic.ttf);
}

@font-face{
	font-family:joystix;
	src:url(fonts/joystix_monospace.ttf);
}

@font-face{
	font-family:Friz;
	src:url(fonts/Friz_Quadrata_Std_Regular.otf);
}

nav{
	list-style:none;
	position: fixed;		
	display:inline-block;
	top: 0;
	padding:1px;
	height:100px;
	background: url(images/NavBarBG.png);
	background-repeat:no-repeat;
	background-size:100%;
	white-space:nowrap;
	z-index: 999;
	overflow:hidden;
	
	border: 20px solid transparent;
	padding:30px;
    -webkit-border-image: url(images/ui/BottomBorder.png) 30% round; /* Safari 3.1-5 */
    -o-border-image: url(images/ui/BottomBorder.png) 30% round; /* Opera 11-12.1 */
    border-image: url(images/ui/BottomBorder.png) 30% round;
	
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
}

	nav .navlist{

		float:left;
		display:inline-block;
		font-size:28px;
		color:#FFF44F;
		font-family:Friz;

		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	
		text-decoration: none;
	}
		nav .LeftNavButton{
			width:327px;
			height:31px;
			background:transparent url(images/ui/NavButton.png);
			background-size:auto;
		}
		
				
		nav .LeftNavButton .tagTitle{
			text-align:center;
		}
		
		nav .LeftNavButton:hover {
			background:transparent url(images/ui/NavButtonHover.png);
		}

		nav .RightNavButton{			
			width:327px;
			height:31px;
			background:transparent url(images/ui/NavButton.png);
			background-size:auto;
		}
		
		nav .RightNavButton .tagTitle{
			z-index:1;
			text-align:center;
		}
		
		nav .RightNavButton:hover {
			background:transparent url(images/ui/NavButtonHover.png);
		}
		
		nav .CenterNavButton{
			width:327px;
			height:31px;
			background:transparent url(images/ui/NavButton.png);
			background-size:auto;
		}
				
		nav .CenterNavButton .tagTitle{
			z-index:1;
			text-align:center;
		}
	
		nav .CenterNavButton:hover {
			background:transparent url(images/ui/NavButtonHover.png);
		}
		
		nav .navlist .tagTitle{
			padding-top:17px;
		}
		
		nav .navlist .dropdown-content {
			top:87px;
			display: none;
			position: absolute;
			min-width: 100%;
			overflow:auto;
		}

		nav .navlist .dropdown-content a {
				
				z-index:0;
				padding-top:10px;
				padding-bottom:10px;
				width:327px;
				height:auto;
				background:transparent url(images/ui/NavButton.png);
				background-repeat:no-repeat;
				background-size:327px 31px;
				
				
				font-size:28px;
				color:#FFF44F;
				font-family:Friz;
				text-decoration: none;
				
				
				text-align:center;
	
				
				float:left;
			}

			nav .navlist .dropdown-content a:hover {
				background:transparent url(images/ui/NavButtonHover.png);
				background-repeat:no-repeat;
				background-size:327px 31px;
				
			}
		nav .navlist .dropdown-content .dropcap {
			display: block;
			z-index:0;
				padding-top:10px;
				padding-bottom:10px;
			width:327px;
				height:auto;
			background:transparent url(images/ui/NavButtonDropBottomCap.png);
				background-repeat:no-repeat;
				background-size:327px 18px;
		
		}	

		nav .navlist .dropdown-content .dropcap:hover {		
		background:transparent url(images/ui/NavButtonDropBottomCap.png);
				background-repeat:no-repeat;
				background-size:327px 18px;
		}
		
		nav .dropdown {
			position: relative;
			display: inline-block;

			padding-top: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
			
			z-index:2;
			}
		
			nav .dropdown:hover .dropdown-content {
				display: block;
			}
				
			nav .dropdown:hover{
			}
			
#MainName{
	color:#FFFFFF;
	font-family:Joystix;
	font-size:300%;
	
	vertical-align:left;
		
	padding-right: 40px;
	padding-bottom:20px;
	margin-right: 10px;
	
	display:table-cell;

    text-shadow:
    -2px -2px 0 #FF00FF,
    2px -2px 0 #00FFFF,
    -2px 2px 0 #FF0000,
    2px 2px 0 #0000FF; 
}


#upperbuffer{
	padding-top:210px;
}
.SocialCards{
	display:table-cell;
	vertical-align:middle;
}
	
.SocialCard{
	display:inline-block;
	height:71px;
	width:99px;
	margin:auto;
	vertical-align:bottom;
	background:transparent url(images/ui/social-cards-4db02a8933351b0870f1dc00fa58df807b83f09d96f145c4579d78fc01b2b079dd6c1fa4fcee4834eae4651e0b361fde995e1429c07585fdacb46c06c5f44a6a.png) 0 0 no-repeat;
	transition:none;
	margin:0 -20px
}@media (min-width:40em){
	.SocialCard{
			margin:0 -15px
	}
}
	.SocialCard--facebook{
		background-position:0 0
	}
		.SocialCard--facebook:active,
		.SocialCard--facebook:hover{
			background-position:0 -77px
		}
			
	.SocialCard--twitter{
		background-position:-99px 0
	}
		.SocialCard--twitter:active,
		.SocialCard--twitter:hover{
			background-position:-99px -77px
		}
		
	.SocialCard--linkedin{
		background-position:-198px 0
	}
		.SocialCard--linkedin:active,
		.SocialCard--linkedin:hover{
			background-position:-198px -77px
		}

		
	.SocialCard--instagram{
		background-position:-297px 0
	}
		.SocialCard--instagram:active,
		.SocialCard--instagram:hover{
			background-position:-297px -77px
		}
		
	.SocialCard--tumblr{
	background-position:-396px 0
	}
		.SocialCard--tumblr:active,
		.SocialCard--tumblr:hover{
			background-position:-396px -77px
		}